* {
  box-sizing: border-box;
}
label,
button,
input,
textarea {
  display: block;
}
label {
  cursor: pointer;
  color: #2196f3;
  font-weight: bold;
}
textarea {
  width: 100%;
  resize: vertical;
  min-height: 50px;
}
textarea.listTextarea {
  height: 150px;
}
main {
  margin: 0 1rem;
}
.Nav {
  display: flex;
  height: auto;
  padding-top: 8px;
  align-content: center;
  justify-content: space-around;
}
.Comment header {
  display: flex;
  justify-content: space-between;
}
.Comment header button {
  margin-top: 0;
}
.Comment h2 {
  margin-top: 0;
}
.Comment ol {
  list-style-type: none;
}

.SubComment {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.SubComment button.mui-btn--danger {
  opacity: 0;
}
.SubComment:hover button.mui-btn--danger {
  opacity: 1;
}
.SubComment span {
  font-weight: bold;
}
.SubComment section {
  flex-grow: 2;
}
